.boxes {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--spacing-5xl) 0;
    text-align: center;
}

// adapted from the Utah Design System website's home page
.home-page {
  &__card-wide {
    grid-column: auto / span 6;
  }
  &__card-narrow {
    grid-column: auto / span 4;
  }

  &__color-card-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: var(--spacing-l);
  }
  &__color-card {
    background: var(--primary-color);
    color: white;
    padding: var(--spacing);
    p {
      margin: 0;
    }
    &--secondary {
      background: var(--secondary-color);
    }
    a[href]:not(.button,.action-card) {
      color: white;
    }
  }
}
