.hero {
  width: 100%;
  background: url('../../assets/delicate-arch-tom-gainor-unsplash.webp') no-repeat 100% center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  min-height: 300px;
  white-space: nowrap;

  p {
     font-style: italic;
  }

}

.home-banner-sidebar {
  background: color-mix(in srgb, black 70%, transparent);

  width: 35%;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 23% 100%);

  /* Keeps text away from the diagonal edge */
  padding: var(--spacing-3xl) var(--spacing-3xl) var(--spacing-3xl) 15%;

  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}

.hero-buttons {
  display: flex;
  gap: var(--spacing-xl);
}
