@forward 'hero';
@forward 'boxes';
@forward 'home-cards';
@forward 'welcome-info';
@forward 'dashboard';


// other random styles to sort

.contact {
    background: var(--gray-light-color);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--spacing-5xl) 0;
    text-align: center;
    .icon-chat-bubbles {
        fill: var(--primary-color);
        width: 80px;
    }
}

.echart {
    width: 100%;
    height: 100%;
}
