// Components
@use 'components';

// Theme colors, per https://designsystem.utah.gov/resources/gettingStartedDeveloper#h3-css-color-overrides
.utah-design-system {
  --primary-color: #0258BB;
  --primary-color-dark: #0E1C3B;
  --primary-color-light: #C1CFE7;

  --secondary-color: #377E72;
  --secondary-color-dark: #24544C;
  --secondary-color-light: #E3EFED;

  --accent-color: #FFB100;
  --accent-color-dark: #745A1E;
  --accent-color-light: #FFF9EC;

  --header-primary-color: #0E1C3B;
}
